{{define "title"}}About KYCNOT.me{{end}}

{{define "main"}}

    <style>
        section {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        section p {
            margin-bottom: 1rem;
        }

        section a {
            color: rgb(163 230 53);
            text-decoration: underline;
            text-underline-offset: 0.2rem;
        }

        h1, h2, h3, h4 {
            margin-top: 1rem;
            margin-bottom: 0.3rem;
            font-weight: bold;
            color: rgb(163 230 53);
        }

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.5rem;
            text-transform: uppercase;
        }

        h3 {
            margin-top: 1.1em;
            font-size: 1.25rem;
        }

        h3::before {
            content: '~ ';
        }

        ul {
            margin-top: 0.3rem;
            margin-bottom: 0.5rem;
            padding-left: 1rem;
            list-style: square;
        }

        li {
            margin-bottom: 0.15rem;
        }

        li a {
            text-decoration: none;
        }

        section blockquote {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            padding-left: 1rem;
            border-left: 0.3rem solid rgb(163 230 53);
            color: rgb(142, 146, 150);
        }

        code {
            background: #2b2828;
            border: 1px solid #494242;
            border-left: 3px solid #89f333;
            color: #d3cccc;
            font-family: monospace;
            max-width: 100%;
            overflow: scorll;
            padding: 1em 1em;
            display: block;
            word-wrap: break-word;
            max-width: 90vw;
            margin-top: 1em;
        }

        hr {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

    </style>

    <section class="flex flex-col items-center justify-center pb-8 space-y-2">
        <div class="max-w-xl">
            {{.Content}}
        </div>
    </section>
{{end}}