{{define "title"}}Audit KYCNOT.me{{end}}

{{define "main"}}

<section class="pb-8 space-y-2 md:flex md:flex-col md:items-center md:justify-center">
    <div class="max-w-md lg:max-w-lg mx-6">
        <h1 class="text-2xl text-center uppercase text-lime-400">Audit Logs</h1>
        <span class="text-center text-sm">
            <p class="opacity-50">
                Here you can see the latest 25 changes that happened in KYCNOT.me.
            </p>
            <p class="opacity-40 text-xs">
                <a href="/about#audit">Read more about Audit Logs</a>
            </p>
        </span>

        <div class="space-y-4 mt-6">
            {{range .Logs}}
                <div class="pb-2 border-b border-lime-600 border-opacity-40">
                    <h3>
                        <span class="font-bold mb-1 text-lime-400">{{.CreatedAt}}</span>
                    </h3>
                    {{if lt (len .Description) 250}}
                        <p class="max-w-sm md:max-w-lg">{{.Description}}</p>
                    {{else}}
                        <p class="break-all max-w-sm md:max-w-lg">{{truncate .Description}}...</p>
                    {{end}}
                    {{if ne .Details ""}}
                    <div class="collapse">
                        <input type="checkbox" /> 
                        <div class="collapse-title text-sm font-medium font-bold">
                          > Click to show/hide details
                        </div>
                        <div class="collapse-content">
                          {{ .Details | html }}
                        </div>
                    </div>
                    {{end}}
                </div>
            {{end}}            
        </div>
    </div>
</section>

<style>
    .text-decoration-line-through {
        text-decoration: line-through;
    }

    .red {
        background-color: rgb(187, 13, 13);
        font-weight: bold;
        font-family: monospace;
        font-size: normal;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        margin-right: 1em;
        margin-left:1em;
    }

    .green {
        background-color: rgb(22, 97, 3);
        font-weight: bold;
        font-family: monospace;
        font-size: normal;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }
</style>

{{end}}