{{define "title"}}Home{{end}}

{{define "main"}}
    <section>
        {{if ge (len .Announcements) 1}}
            <div class="flex flex-col items-center justify-center space-x-2 mb-3 px-4">
                {{range .Announcements}}
                    <a target="_blank" href="{{.Url}}">
                        <div class="bg-stone-900 border border-lime-900 w-full rounded-lg px-3 shadow-lg max-w-md py-3">
                            <div class="flex items-center justify-center space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="shrink-0 w-6 h-6 stroke-lime-500"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                <div>
                                    <h3 class="font-bold">{{.Title}}</h3>
                                    <div class="text-xs">{{html .Description}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                {{end}}
            </div>
        {{end}}
        <div class="px-4 py-2">
            <div class="mb-2 text-center bg-transparent md:grid">
              <p class="font-bold font-mono uppercase text-lime-400">Goodbye KYC, hello privacy.</p>
            </div>
        </div>
        <div class="flex justify-center uppercase space-x-4 text-xs text-lime-600">
            <a
                data-sveltekit-reload
                class='hover:text-lime-300 {{if not .Type}}underline font-bold text-lime-400{{else}}{{end}}'
                href="/">all</a
            >
            <a
                data-sveltekit-reload
                class='hover:text-lime-300 {{if eq .Type "exchange"}}underline font-bold text-lime-400{{else}}{{end}}'
                href="?type=exchange">exchanges</a
            >
            <!--<a
                data-sveltekit-reload
                class='hover:text-lime-300 {{if eq .Type "wallet"}}underline font-bold{{else}}{{end}}'
                href="?type=wallet">wallets</a
            >-->
            <a
                data-sveltekit-reload
                class='hover:text-lime-300 {{if eq .Type "service"}}underline font-bold text-lime-400{{else}}{{end}}'
                href="?type=service">services</a
            >
        </div>
        <!--Filters form-->
        <section class="flex flex-col items-center space-x-2">
            <form action="/search" method="GET">
                <input
                type="text"
                value="{{.Filters.query}}"
                name="q"
                placeholder="Search anything..."
                class="w-full max-w-xs mt-4 lowercase bg-transparent input text-lime-600 input-sm border-lime-600 input-bordered"
                />
                <!--Hidden field with the type-->
                <input type="hidden" name="type" value="{{.Type}}"/>
                <!--Currency filters-->
                <div class="flex items-center">
                    <div class="form-control">
                        <label class="flex flex-col cursor-pointer label">
                            <span class="text-xs label-text text-lime-600">XMR</span>
                            <input
                                {{if eq "on" .Filters.xmr}}checked{{end}}
                                name="xmr"
                                type="checkbox"
                                class="checkbox checkbox-accent checkbox-xs checkbox-neutral"
                            />
                        </label>
                    </div>
        
                    <div class="form-control">
                        <label class="flex flex-col cursor-pointer label">
                            <span class="text-xs label-text text-lime-600">BTC</span>
                            <input
                                {{if eq "on" .Filters.btc}}checked{{end}}
                                name="btc"
                                type="checkbox"
                                class="checkbox checkbox-accent checkbox-xs checkbox-neutral"
                            />
                        </label>
                    </div>
        
                    <div class="form-control">
                        <label class="flex flex-col cursor-pointer label">
                            <span class="text-xs label-text text-lime-600">LN</span>
                            <input
                                {{if eq "on" .Filters.ln}}checked{{end}}
                                name="ln"
                                type="checkbox"
                                class="checkbox checkbox-accent checkbox-xs checkbox-neutral"
                            />
                        </label>
                    </div>
        
                    <div class="form-control">
                        <label class="flex flex-col cursor-pointer label">
                            <span class="text-xs label-text text-lime-600">CASH</span>
                            <input
                                {{if eq "on" .Filters.cash}}checked{{end}}
                                name="cash"
                                type="checkbox"
                                class="checkbox checkbox-accent checkbox-xs checkbox-neutral"
                            />
                        </label>
                    </div>
        
                    <div class="form-control">
                        <label class="flex flex-col cursor-pointer label">
                            <span class="text-xs label-text text-lime-600">FIAT</span>
                            <input
                                {{if eq "on" .Filters.fiat}}checked{{end}}
                                name="fiat"
                                type="checkbox"
                                class="checkbox checkbox-accent checkbox-xs checkbox-neutral"
                            />
                        </label>
                    </div>
    
                    <button type="submit" class="ml-1 btn btn-xs btn-outline text-lime-600 hover:bg-lime-600 hover:text-white">Filter</button>
                </div>
                <!--End currency filters-->
            </form>
        </section>
        <!--End filters form-->
    </section>

    <section class="flex items-center justify-center pt-6 pb-24">
        <div class="grid max-w-screen-xl grid-cols-1 gap-3 md:grid-cols-2 xl:grid-cols-3">
            {{range .Services}}
                {{if eq .Status 1}}
                    {{template "ServiceCard" .}}
                {{end}}
            {{else}}
                <div class="card">
                    <div class="card-body">
                        <p class="text-center">No results found.</p>
                    </div>
                </div>
            {{end}}
        </div>
    </section>
{{end}}