{{define "title"}}Login | kycnot.me{{end}} {{define "main"}}
<header class="flex items-center justify-center px-3 mt-4">
  <div class="flex flex-col text-center hero-content">
    <h1 class="text-3xl title">Login</h1>
    <div class="login"></div>
  </div>
</header>
<div class="flex flex-col items-center p-4 status">
  <span class="text-xl minititle">Status:</span>
  <span class="font-bold status__label badge badge-info">unauthorized</span>
</div>

<div class="flex flex-col items-center">
  <div class="my-2 text-xl font-bold minititle info-label" title="Contents from '/auth/user' call">
    User info:
  </div>
  <div class="p-2 border rounded info">No info</div>
</div>

<div class="hidden">
  <table class="table"></table>
</div>

<script>
  function getCookies() {
    return document.cookie.split("; ").reduce((c, x) => {
      const splitted = x.split("=");
      c[splitted[0]] = splitted[1];
      return c;
    }, {});
  }

  function req(endpoint, data = {}) {
    const cloneData = Object.assign({}, data);
    const cookies = getCookies();
    const token = cookies["XSRF-TOKEN"];

    if (cloneData.hasOwnProperty("headers")) {
      cloneData.headers = new Headers(cloneData.headers);
    } else {
      cloneData.headers = new Headers();
    }

    if (token) {
      cloneData.headers.append("X-XSRF-TOKEN", token);
    }

    return fetch(endpoint, cloneData).then((resp) => {
      if (resp.status >= 400) {
        throw resp;
      }
      return resp.json().catch(() => null);
    });
  }

  function getProviders() {
    return req("/auth/list");
  }

  function getUser() {
    return req("/auth/user").catch((e) => {
      if (e.status && e.status === 401) return null;
      throw e;
    });
  }

  function login(prov) {
    return new Promise((resolve, reject) => {
      const url = window.location.href + "?close=true";
      const eurl = encodeURIComponent(url);
      const win = window.open(
        "/auth/" + prov + "/login?id=auth-example&from=" + eurl
      );
      const interval = setInterval(() => {
        try {
          if (win.closed) {
            reject(new Error("Login aborted"));
            clearInterval(interval);
            return;
          }
          if (win.location.search.indexOf("error") !== -1) {
            reject(new Error(win.location.search));
            win.close();
            clearInterval(interval);
            return;
          }
          if (win.location.href.indexOf(url) === 0) {
            resolve();
            win.close();
            clearInterval(interval);
          }
        } catch (e) {}
      }, 100);
    });
  }
  const validUsernameRegex = /^[a-zA-Z][\w ]+$/;

  function getUsernameInvalidReason(username) {
    if (username.length < 3)
      return "Username must be at least 3 characters long";
    if (!validUsernameRegex.test(username))
      return "Username must start from the letter and contain only latin letters, numbers, underscores, and spaces";
    return null;
  }

  const validEmailRegex = /[^@]+@[^\.]+\..+/;

  function getEmailInvalidReason(email) {
    if (!validEmailRegex.test(email)) {
      return "Email should match /^[a-zA-Z][\\w ]+$/ regex";
    }
    return null;
  }

  function getTokenInvalidReason(token) {
    if (token.length < 1) return "Token should be filled";
    return null;
  }

  async function getTelegramLoginForm() {
    let { token, bot } = await fetch("/auth/telegram/login").then((r) =>
      r.json()
    );

    let form = document.createElement("div");
    form.className = "anon-form login__anon-form";
    form.style.display = "none";

    let link = document.createElement("a");
    link.href = `tg://resolve?domain=${bot}&start=${token}`;
    link.innerHTML = "Click the link and press start";
    link.className = "btn btn-info flex items-center justify-center";

    shouldPoll = false;
    link.onclick = (e) => {
      e.stopPropagation();
      shouldPoll = true;
    };

    setInterval(() => {
      if (!shouldPoll) {
        return;
      }

      // Poll login endpoint until user confirms login request
      fetch(`/auth/telegram/login?token=${token}`).then((resp) => {
        if (resp.status == 200) {
          // Success
          window.location.reload();
        }
      });
    }, 1000);

    form.appendChild(link);

    const stopPolling = () => (shouldPoll = false);
    return { form, stopPolling };
  }

  function errorHandler(err) {
    const status = document.querySelector(".status__label");
    if (err instanceof Response) {
      err.text().then((text) => {
        try {
          const data = JSON.parse(text);
          if (data.error) {
            status.textContent = data.error;
            console.error(data.error);
            return;
          }
        } catch {}
        status.textContent = text;
        console.error(text);
      });
      return;
    }
    status.textContent = err.message;
    console.error(err.message);
  }

  function getLoginLinks() {
    let formSwitcher = () => {};

    return getProviders().then((providers) =>
      providers.map((prov) => {
        let a;
        if (prov === "telegram") {
          a = document.createElement("span");
          a.dataset.provider = prov;
          a.className = "login__prov p-2 rounded bg-info bg-opacity-60 cursor-pointer block";

          const textEl = document.createElement("span");
          textEl.textContent = "Login with " + prov;
          textEl.className = "pseudo text-md";
          a.appendChild(textEl);

          getTelegramLoginForm()
            .then(({ form, stopPolling }) => {
              a.addEventListener("click", (e) => {
                const display = form.style.display;
                formSwitcher();
                if (display === "none") {
                  form.style.display = "block";
                  formSwitcher = () => {
                    stopPolling();
                    form.style.display = "none";
                  };
                } else {
                  form.style.display = "none";
                  stopPolling();
                  formSwitcher = () => {};
                }
              });

              a.appendChild(form);
            })
            .catch(console.error);
        } else {
          a = document.createElement("span");
          a.dataset.provider = prov;
          a.textContent = "Login with " + prov;
          a.className = "pseudo login__prov";
          a.addEventListener("click", (e) => {
            formSwitcher();
            e.preventDefault();
            login(prov)
              .then(() => {
                window.location.replace(window.location.href);
              })
              .catch(errorHandler);
          });
        }
        return a;
      })
    );
  }

  function getLogoutLink() {
    const a = document.createElement("a");
    a.href = "#";
    a.textContent = "Logout";
    a.className = "login__prov btn btn-danger";
    a.addEventListener("click", (e) => {
      e.preventDefault();
      req("/auth/logout")
        .then(() => {
          window.location.replace(window.location.href);
        })
        .catch(errorHandler);
    });
    return a;
  }

  function getUserInfoFragment(user) {
    const table = document.createElement("table");
    table.className = "info__container table w-full";
    const imgtd = document.createElement("td");
    imgtd.rowSpan = Object.keys(user).length;
    imgtd.className = "info__image-wide";
    const img = document.createElement("img");
    img.class = "info__user-image";
    img.src = user.picture;
    imgtd.appendChild(img);

    /*{
      const imgtr = document.createElement("tr");
      imgtr.className = "info__image-narrow";
      table.appendChild(imgtr);
      const imgtd = document.createElement("td");
      imgtr.appendChild(imgtd);
      imgtd.colSpan = 3;
      const img = document.createElement("img");
      img.class = "info__user-image";
      img.src = user.picture;
      imgtd.appendChild(img);
    }*/

    let imgappended = false;
    for (let key of Object.keys(user)) {
      let tr = document.createElement("tr");
      if (!imgappended) {
        tr.appendChild(imgtd);
        imgappended = true;
      }
      let keytd = document.createElement("td");
      keytd.className = "info__key-cell";
      keytd.textContent = key;

      let valtd = document.createElement("td");
      valtd.className = "info__val-cell";
      if (typeof user[key] === "object") {
        valtd.textContent = JSON.stringify(user[key]);
      } else {
        valtd.textContent = user[key];
      }
      tr.appendChild(keytd);
      tr.appendChild(valtd);
      table.appendChild(tr);
    }
    return table;
  }

  function main() {
    if (window.location.search.indexOf("?close=true") !== -1) {
      document.body.textContent = "Logged in!";
      return;
    }
    return getUser().then((user) => {
      const loginContainer = document.querySelector(".login");
      const statusElement = document.querySelector(".status__label");
      if (!user) {
        getLoginLinks().then((links) => {
          for (let link of links) {
            loginContainer.appendChild(link);
          }
        });
        return;
      }
      loginContainer.appendChild(getLogoutLink());
      statusElement.textContent = "logged in as " + user.name;
      const infoEl = document.querySelector(".info");
      infoEl.textContent = "";
      infoEl.appendChild(getUserInfoFragment(user));
    });
  }

  main().catch((e) => {
    console.error(e);
  });
</script>
{{end}}
