{{define "title"}}Pending Service Requests{{end}}

{{define "main"}}

<div class="w-full text-center">
    <div class="mt-12 mb-4">
        <h1 class="text-2xl font-bold">Pending Service Requests</h1>
        <p class="mt-2">These are the service requests that are pending for approval.</p>
    </div>

    <section class="flex items-center justify-center py-8">
        {{if .Services}}
            <div class="grid max-w-screen-xl grid-cols-1 gap-3 md:grid-cols-2 xl:grid-cols-3">
                {{range .Services}}
                    {{template "ServiceCard" .}}
                {{end}}
            </div>
        {{else}}
            <p class="py-6 text-xl font-bold text-center">There are no pending service requests.</p>
        {{end}}
    </section>
</div>

{{end}}