{{define "title"}}Points{{end}}

{{define "main"}}
<div class="flex flex-col items-center py-12 mx-2">
    <h1 class="my-2 text-3xl font-bold">Points</h1>
    <p class="max-w-md mx-2 mb-4 text-sm text-center md:text-md">Points are attributes that are associated to services. You can click any point to see all the services associated with it. </p>
    {{template "PointsTable" .}}
</div>
{{end}}