{{define "title"}}Point {{.Point.ID}} | KYCnot.me{{end}}

{{define "main"}}
<div class="px-3 mt-8 hero bg-base">
    <div class="flex-col text-center hero-content">
        <!-- Point Heading -->
        <div class="flex flex-col items-center justify-center space-x-3 space-y-2">
            <h1 class="text-2xl font-bold capitalize">{{.Point.Title}}</h1>
            {{if eq .Point.Rating 3}}
                <div class="badge badge-lg badge-info">info</div>
            {{else if eq .Point.Rating 2}}
                <div class="badge badge-lg badge-success">good</div>
            {{else if eq .Point.Rating 1}}
                <div class="badge badge-lg badge-warning">warning</div>
            {{else if eq .Point.Rating 0}}
                <div class="badge badge-lg badge-error">bad</div>
            {{end}}

            <div class="max-w-md py-8 font-medium text-justify">
                {{.Point.Description}}
            </div>
        </div>
        <!-- DaisyUI Divider -->
        <div class="max-w-md py-1 divider"></div>
    </div>
</div>

<!-- Point Services -->
<h2 class="mb-6 font-mono text-xl font-bold text-center capitalize-first">{{.Point.Title}} services:</h2>
<div class="flex items-center justify-center">
    <div class="gap-3 pb-12 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid">
        {{range .Services}}
            {{template "CompactServiceCard" .}}
        {{end}}
    </div>
</div>
{{end}}
