{{define "title"}}Points{{end}}

{{define "main"}}
<div class="flex flex-col items-center py-12 mx-2">
    <h1 class="my-2 text-3xl font-bold">Request</h1>
    <p class="max-w-md mx-2 mb-4 text-sm text-center md:text-md">
        Help expand the list by requesting an addition. You can either request a service, a point or a fix.
    </p>

    <div class="join join-vertical lg:join-horizontal">
        <a href="/request/service" class="btn btn-success join-item">A service</a>
        <a href="/request/point" class="btn btn-info join-item">a point</a>
        <button disabled class="btn btn-accent btn-disabled join-item">Fix</button>
    </div>
</div>
{{end}}