{{define "title"}}{{.Service.Name}} | kycnot.me{{end}}

{{define "main"}}

<div class="px-3 md:hero">
    <div class="flex-col text-center hero-content">
        <!-- Service Heading -->
        <div class="flex items-center space-x-3">
            <div class="avatar">
                <div class="w-12 rounded-full">
                    <img alt="service logo" src="/static/img/{{.Service.Name}}.webp" />
                </div>
            </div>
            <h1 class="text-3xl font-bold capitalize">{{.Service.Name}}</h1>
        </div>
        <!-- Links -->
        <div class="pb-1 mt-2 flex items-center justify-center space-x-2">
            <a href="{{(randElem .Service.Urls) | safeUrl}}" class="btn btn-xs md:btn-sm btn-success hover:btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"></path>
                    <path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"></path>
                    <path d="M12.5 3a16.989 16.989 0 0 1 1.828 4"></path>
                    <path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"></path>
                    <path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"></path>
                    <path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4"></path>
                    <path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"></path>
                    <path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"></path>
                    <path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"></path>
                 </svg>
                website
            </a>
            {{if not (isEmptyJson .Service.TosUrls)}}
                <a href="{{(randElem .Service.TosUrls) | safeUrl}}" class="btn btn-xs md:btn-sm btn-success hover:btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15 15m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                        <path d="M18.5 18.5l2.5 2.5"></path>
                        <path d="M4 6h16"></path>
                        <path d="M4 12h4"></path>
                        <path d="M4 18h4"></path>
                    </svg>
                    ToS
                </a>
            {{end}}
            {{if  ne .Service.Referral ""}}
            <a href="{{(randElem .Service.Urls) | safeUrl}}{{.Service.Referral}}" class="btn btn-xs md:btn-sm btn-info hover:btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                 </svg>
                Referral
            </a>
            {{end}}
            {{if not (isEmptyJson .Service.Onions)}}
                <a href="{{(randElem .Service.Onions) | safeUrl}}" class="btn btn-xs md:btn-sm btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                        <path d="M12 12m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                    </svg>
                    <span>
                        onion
                    </span>
                </a>
            {{end}}
        </div>
          
        <!-- Service Icons -->
        {{template "ServiceIcons" .Service}}
  
        <!-- Service Summary -->
        <div class="max-w-md">
            <p class="text-justify text-md text-opacity-80">
            {{.Service.Description}}
            </p>
        </div>

        <div>
            <a rel="noopener" target="_blank" class="btn btn-xs btn-accent bg-opacity-60 text-white font-normal" href="{{.Service.GitIssue}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M8 9h8"></path>
                    <path d="M8 13h6"></path>
                    <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"></path>
                </svg>
                <span class="font-bold">
                    Discuss this service
                </span>
            </a>
        </div>
    </div>
</div>


<!-- Divider -->
<div class="pt-0 pb-1 mt-0 divider"></div>

<div class="flex flex-col items-center justify-center px-4 mb-8">
    {{if .Service.Flairs}}
        <div class="flex flex-wrap items-center w-full mt-1 align-middle max-w-md space-y-4">
            {{range .Service.Flairs}}
                <div>
                    <div class="badge bg-{{.ColorCode}} text-neutral-200 bg-opacity-70 badge-lg font-bold uppercase">
                        {{.Name}}
                    </div>
                    <p class="mt-2 ml-2">
                        {{.Description}}
                    </p>
                </div>
            {{end}}
        </div>
    {{end}}
</div>

{{template "KycLevel" .Service.KycLevel}}

<!-- Issues Attribute Table -->
<section class="flex flex-col items-center p-2 mb-4 mt-2">
    <!-- Service Notes -->
    {{template "ServiceNotes" .Service.Notes}}
</section>
<!-- Issues Attribute Table -->
<section class="flex flex-col items-center p-2 mt-4">
    <h1 class="text-2xl">Service Info</h1>
    <small class="opacity-40">*Click on any element to see more details</small>
    {{template "PointsTable" .Service}}
</section>

<!--KYC-related ToS section-->


<section class="flex flex-col items-center p-2 mt-5 pb-32">
    <h2 class="text-2xl mb-1">
        <a href="/about#tos-checker">ToS Checker</a>
    </h2>
    {{if not (isEmptyJson .Service.TosUrls)}}
        {{if ne (len .Service.TosLines) 0}} 
        <p class="max-w-lg text-center opacity-60 mb-3">These lines were automatically extracted from the ToS of {{.Service.Name}}.</p>
        <ul class="max-w-lg text-sm space-y-2">
            {{range .Service.TosLines}}
                <li class="border text-sm border-warning border-opacity-50 text-base-content rounded-lg p-4">
                    {{if eq .StillInTos false}}
                        <p class="text-error text-xs mb-2 opacity-60">
                            Last seen on {{.LastSeen}}.
                        </p>
                    {{end}}

                    <p>
                        {{.Text}}
                    </p>

                    <p class="text-xs space-x-2 mt-2 opacity-50">
                        <span>
                            Found at: {{.DateFound}}
                        </span>
                        <span>
                            Last seen: {{.LastSeen}}
                        </span>
                    </p>
                </li>
            {{end}}
        </ul>
        {{else}}
            {{ if gt .Service.KycLevel 1 }}
                <p class="text-sm text-center flex items-center text-warning max-w-md">
                    <span class="font-bold">
                        The <a class="underline" href="/about#tos-checker">automated checks</a> could not find any KYC-related lines in the ToS of this service. However, based on the available information, there is a possibility that this could be a false positive. It is recommended to manually review the ToS for further verification.
                    </span>
                </p>
            {{else}}
                <p class="text-sm text-center flex items-center text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor"></path>
                    </svg>
                    <span>
                        No KYC-related ToS were found
                    </span>
                </p>
            {{end}}
        {{end}}
    {{else}}
        <p class="text-sm text-center flex items-center text-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm.01 13l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -8a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" stroke-width="0" fill="currentColor"></path>
            </svg>
            <span>
                This service seems to have no ToS!
            </span>
        </p>
    {{end}}
    <p class="text-xs mt-2 opacity-60">*Read more about the <a class="underline" href="/about#tos-checker">Automated ToS checker</a>.</p>
    
    <div class="text-xs text-center mt-8">
        <div class="divider"></div>
        <p class="opacity-30">Listed: {{humanizeTime .Service.CreatedAt}}</p>
        <p class="opacity-30">Last update: {{humanizeTime .Service.UpdatedAt}}</p>
    </div>
</section>


{{end}}