{{define "CompactServiceCard"}}
<a href="/service/{{.Name}}">
    <article
        class="flex flex-col overflow-hidden border border-transparent rounded-lg shadow-xl card bg-slate-600 bg-opacity-30 border-lime-800 hover:border-lime-900"
    >
        <div class="card-body">
            <div class="flex items-center gap-4 mb-1">
                <div class="avatar indicator">
                    <span
                        class='mb-1 
                               font-bold 
                               indicator-item indicator-bottom indicator-center 
                               badge badge-md
                               bg-opacity-85
                               {{if and (lt .Grade 5) (ne .Grade -1)}}badge-error{{else if eq .Grade -1}}bg-gray-600 border-gray-600{{else if and (lt .Grade 7) (ge .Grade 5)}}badge-warning{{else if and (ge .Grade 7) (lt .Grade 8)}}bg-lime-400 border-lime-400 text-gray-800{{else}}badge-success{{end}}'>
                                    {{if eq .Grade -1}}
                                    NA
                                    {{else}}
                                    {{.Grade}}
                                    {{end}}
                               </span
                    >
                    
                    <div class="w-12 h-12 rounded-full md:h-16 md:w-16">
                        <img alt="Logo" src="/static/img/{{toLower .Name}}.webp" />
                    </div>
                </div>

                <div class="flex flex-col w-full">
                    <div class="flex flex-wrap items-center w-full align-middle">
                        <h3 class="inset-0 mr-2 text-sm font-bold capitalize md:text-lg card-title">{{.Name}}</h3>
                    </div>
                    {{template "ServiceIcons" .}}
                </div>
            </div>
        </div>
        <div
            class="badge 'badge-info' opacity-70 badge-outline badge-sm m-3 self-end absolute"
        >
            {{.Type}}
        </div>
        
    </article>
</a>
{{end}}