{{define "KycLevel"}}
    <div class="flex justify-center items-center">
        <div class="max-w-sm text-justify mx-4">
            {{ if eq . 0 }}
                <div tabindex="0" class="collapse border border-success rounded-xl"> 
                    <input type="checkbox" /> 
                    <div class="collapse-title p-1 text-md font-bold flex justify-center items-center space-x-3">
                        <div class="avatar placeholder">
                            <div class="bg-success text-success-content rounded-full w-8">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l5 5l10 -10"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <span>
                            KYC Level 0
                        </span>
                    </div>
                    <div class="collapse-content text-sm"> 
                        <p>The exchange ToS do not mention that it will ever request the user for a KYC verification.</p>
                    </div>
                </div>
                <!--<div class="flex items-center space-x-4 max-w-md border border-green-700 p-2 rounded-lg mx-2">
                    <div class="avatar placeholder">
                        <div class="bg-green-700 text-neutral-content rounded-full w-12">
                            <span class="text-lg font-bold">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checks" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M7 12l5 5l10 -10"></path>
                                    <path d="M2 12l5 5m5 -5l5 -5"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="text-sm">
                        <span><b>KYC Level 0</b>: The exchange ToS do not mention that it will ever request the user for a KYC verification.</span>
                    </div>
                </div>-->
            {{else if eq . 1}}
                <div tabindex="0" class="collapse border border-lime-600 rounded-lg"> 
                    <input type="checkbox" /> 
                    <div class="collapse-title p-1 text-md font-bold flex justify-center items-center space-x-3">
                        <div class="avatar placeholder">
                            <div class="bg-lime-600 text-black rounded-full w-8">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l5 5l10 -10"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <span>
                            KYC Level 1
                        </span>
                    </div>
                    <div class="collapse-content text-sm"> 
                        <p>KYC procedures not mentioned as such, but reserves the right to share data with representatives of the authorities, block funds or reject transactions.</p>
                    </div>
                </div>
            {{else if eq . 2}}
                <div tabindex="0" class="collapse border border-warning rounded-lg"> 
                    <input type="checkbox" /> 
                    <div class="collapse-title p-1 text-md font-bold flex justify-center items-center space-x-3">
                        <div class="avatar placeholder">
                            <div class="bg-warning text-warning-content rounded-full w-8">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-exclamation-mark" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 19v.01"></path>
                                        <path d="M12 15v-10"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <span>
                            KYC Level 2
                        </span>
                    </div>
                    <div class="collapse-content text-sm"> 
                        <p>KYC is not required, but the exchange may request KYC from any user at any time, typically triggered by an automated flag system, leading to a temporary block of funds.</p>
                    </div>
                </div>
            {{else}}
                <div tabindex="0" class="collapse border border-error rounded-lg"> 
                    <input type="checkbox" /> 
                    <div class="collapse-title p-1 text-md font-medium flex justify-center items-center space-x-3">
                        <div class="avatar placeholder">
                            <div class="bg-error text-error-content rounded-full w-8">
                                <span class="text-lg font-bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M11.94 2a2.99 2.99 0 0 1 2.45 1.279l.108 .164l8.431 14.074a2.989 2.989 0 0 1 -2.366 4.474l-.2 .009h-16.856a2.99 2.99 0 0 1 -2.648 -4.308l.101 -.189l8.425 -14.065a2.989 2.989 0 0 1 2.555 -1.438zm.07 14l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -8a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" stroke-width="0" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <span>
                            KYC Level 3
                        </span>
                    </div>
                    <div class="collapse-content text-sm"> 
                        <p>KYC is mandatory to use some features. A non-KYCed user can be required to verify their identity at any time or any moment for any reason.</p>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
{{end}}