{{define "ServiceIcons"}}
<div class="flow-root">
    <ul class="flex flex-wrap -m-1">
        {{if .Verified}}
            <li class="p-1 leading-none">
                <span class="tooltip tooltip-info" data-tip="Verified">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-info" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M7 12l5 5l10 -10"></path>
                        <path d="M2 12l5 5m5 -5l5 -5"></path>
                    </svg>                    
                </span>
            </li>
        {{end}}
        {{if .Xmr}}
            <li class="p-1 leading-none">
                <span class="tooltip tooltip-info" data-tip="Accepts XMR">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-warning" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                        <path d="M4 16h4v-7l4 4l4 -4v7h4"></path>
                    </svg>                    
                </span>
            </li>
        {{end}}
        {{if .Btc}}
            <li class="p-1 leading-none">
                <span class="tooltip tooltip-info" data-tip="Accepts BTC">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-yellow-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                        <path d="M9 8h4.09c1.055 0 1.91 .895 1.91 2s-.855 2 -1.91 2c1.055 0 1.91 .895 1.91 2s-.855 2 -1.91 2h-4.09"></path>
                        <path d="M10 12h4"></path>
                        <path d="M10 7v10v-9"></path>
                        <path d="M13 7v1"></path>
                        <path d="M13 16v1"></path>
                    </svg>                    
                </span>
            </li>
        {{end}}
        {{if .Ln}}
            <li class="p-1 leading-none">
                <span class="tooltip tooltip-info" data-tip="Accepts LN">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-sky-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11"></path>
                    </svg>                    
                </span>
            </li>
        {{end}}
        {{if .Cash}}
            <li class="p-1 leading-none">
                <span class="tooltip tooltip-info" data-tip="Accepts Cash">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-600" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
                        <path d="M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                        <path d="M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2"></path>
                    </svg>                    
                </span>
            </li>
        {{end}}
        {{if .Fiat}}
            <li class="p-1 leading-none">
                <span class="tooltip tooltip-info" data-tip="Accepts FIAT">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path>
                        <path d="M12 3v3m0 12v3"></path>
                    </svg>                    
                </span>
            </li>
        {{end}}
            </span>
        </li>
    </ul>
</div>
{{end}}