{{define "base"}}
<!doctype html>
<html lang='en' data-theme="halloween">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find NON-KYC exchanges and services to use and spend your crypto anonymously.">
        <meta name="keywords" content="KYC, AML, Bitcoin, Crypto, Cryptocurrency, Exchange, Exchanges, Service, Services, Anonymous, Anonymity, Privacy, Pseudonymity, Pseudonymous, Non-KYC, No-KYC, No KYC, Monero, XMR, BTC">
        <meta property="og:title" content="KYCNOT.ME" />
        <meta property="og:description" content="Find NON-KYC exchanges and services to use and spend your crypto anonymously." />
        <meta property="og:type" content="website" />
        <meta http-equiv="onion-location" content="http://kycnotmezdiftahfmc34pqbpicxlnx3jbf5p7jypge7gdvduu7i6qjqd.onion" />
        <meta property="og:image" content="https://kycnot.me/static/img/logos/banner.webp" />
        <meta property="thumbnail" content="https://kycnot.me/static/img/logos/banner.webp">
        <meta name="twitter:image" content="https://kycnot.me/static/img/logos/banner.webp">
        <meta property="og:url" content="https://kycnot.me" />
        <link rel='stylesheet' href='/static/css/style.css'>
        <link rel="shortcut icon" href="/static/img/logos/favicon.webp" type="image/x-icon">
        <link rel="me" href="https://fosstodon.org/@kycnotme">
        <title>{{template "title" .}} - KYCnot.me</title>
    </head>
    
    <style>
        .capitalize-first::first-letter {
            text-transform: capitalize;
          }
    </style>

    <body class="font-mono">
        <div style="display: contents;">
            {{if .Error}}
            <div class="px-4 py-3 text-neutral-100 bg-error">
                <p class="text-sm font-bold text-center">
                    {{ .Error }}
                </p>
            </div>
            {{end}}

            {{if .Message}}
            <div class="px-4 py-3 text-neutral-100 bg-info">
                <p class="text-sm font-bold text-center">
                    {{ .Message }}
                </p>
            </div>
            {{end}}
            <div class="relative w-full h-full gradient">
                <!--<div class="absolute z-0 inset-0 bg-[url('$lib/img/noise.svg')] opacity-20 brightness-100 contrast-150"></div>-->
                <div class="w-full min-h-screen">
                    <div class="navbar bg-none z-10">
                        <div class="flex-1 ml-2">
                            <a href="/">
                                <img class="max-w-[8em] lg:max-w-[12em]" src="/static/img/logos/logo_wide.svg" alt="KYCNOT.ME logo">
                            </a>
                        </div>
                        <div class="mr-2">
                            <ul class="px-1 space-x-0 menu menu-horizontal">
                                <li>
                                    <details>
                                        <summary class="text-xs md:text-base">
                                            More
                                        </summary>
                                        <ul class="text-xs md:text-base">
                                            <li><a href="/points" class="px-2 mx-0 text-xs md:text-base">Point list</a></li>
                                            <li><a href="/pending" class="px-2 mx-0 text-xs md:text-base">Pending list</a></li>
                                            <li><a href="/request" class="px-2 mx-0 text-xs md:text-base">Request</a></li>
                                            <li><a href="https://blog.kycnot.me" class="px-2 mx-0 text-xs md:text-base">Blog</a></li>
                                            <li><a class="px-2 mx-0 md:hidden text-xs" href="/about#support">Donate</a></li>
                                        </ul>
                                    </details>
                                </li>
                                <li><a class="px-2 mx-0 text-xs md:text-base" href="/about">About</a></li>
                                <li><a class="px-2 mx-0 hidden md:inline-block md:text-base" href="/about#support">Donate</a></li>
                            </ul>
                        </div>
                    </div>
                    {{template "main" .}}
                </div>

                <footer class="flex items-center justify-center pb-6">
                    <div class="max-w-md space-x-4 text-lime-600 border-t border-lime-600 pt-2 border-opacity-30">
                        <a href="http://kycnotmezdiftahfmc34pqbpicxlnx3jbf5p7jypge7gdvduu7i6qjqd.onion">TOR</a>
                        <a href="http://kycnot3724gujekedbe6pwoejfbnggdv26losox25iaokev5ctaq.b32.i2p">I2P</a>
                        <a href="https://fosstodon.org/@kycnotme">Mastodon</a>
                        <a href="https://nostr.com/npub188x98j0r7l2fszeph6j7hj99h8xl07n989pskk5zd69d2fcksetq5mgcqf">Nostr</a>
                    </div>
                </footer>
            </div>

        </div>
    </body>

    {{block "outterBody" .}} {{end}}
</html>

<style>
    .gradient {
		background: rgb(5, 58, 24);
		background: linear-gradient(
			153deg,
			rgb(3, 53, 21) 0%,
			rgb(0, 17, 4) 20%,
			rgba(0, 0, 0, 1) 100%
		);
	}
</style>
{{end}}