{{define "title"}}Request{{end}}

{{define "main"}}
<div class="flex flex-col items-center justify-center pb-12">
    <!--<div class="max-w-md mb-4 shadow-lg alert alert-warning">
        <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 stroke-current" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
        <span>Warning: {errorMessage}</span>
        </div>
    </div>-->

    <h1 class="w-full max-w-md mt-3 text-3xl font-bold text-center">
        Service listing request
    </h1>

    <form class="max-w-xl px-4 space-y-4" method="POST" action="/request/service">
        <div class="w-full max-w-md form-control">
            <label for="type" class="label">
                <span class="font-bold label-text text-md">Service Type</span>
            </label>
            <select id="serviceType" name="serviceType" name="type" required class="w-full max-w-md border select border-neutral-700">
                <option disabled selected class="text-gray-500">Select Type</option>
                <option value="exchange">Exchange</option>
                <option value="service">Service</option>
                <!--<option value="wallet">Wallet</option>-->
            </select>
        </div>
        
        <!--Service category selection-->
        <select style="display:none" name="category" id="category" class="w-full max-w-md border select border-neutral-700">
            <option value="" disabled selected>Service Category</option>
            <option value="aggregator">Aggregators</option>
            <option value="atm">Physical ATM</option>
            <option value="email">Email</option>
            <option value="goods">Goods</option>
            <option value="hosting">VPS / Hosting / Domains</option>
            <option value="market">Market</option>
            <option value="other">Other</option>
            <option value="phone">Phone / SMS</option>
            <option value="storage">Cloud Storage</option>
            <option value="tools">Tools</option>
            <option value="vpn">VPN</option>
        </select>
        <!--End service category selection-->

        <div class="w-full max-w-md form-control">
            <label for="name" class="label">
                <span class="font-bold label-text text-md">Service Name</span>
            </label>
            <input required type="text" name="serviceName" placeholder="Some Service" class="w-full max-w-md input input-bordered" />
        </div>

        <div class="w-full max-w-md form-control">
            <label for="name" class="label">
                <span class="font-bold label-text text-md">Logo URL</span>
            </label>
            <input type="text" name="logoUrl" placeholder="https://site.com/logo.png" class="w-full max-w-md input input-bordered" />
        </div>

        <div class="w-full max-w-md form-control">
            <label for="name" class="label">
                <span class="font-bold label-text text-md">Site URL(s)</span>
            </label>
            <small class="text-[11px] text-neutral-500">*If multiple, separate with commas.</small>
            <input required type="text" name="siteUrls" placeholder="https://site.com" class="w-full max-w-md input input-bordered" />
        </div>

        <div class="w-full max-w-md form-control">
            <label for="name" class="label">
                <span class="font-bold label-text text-md">Terms of Service URL(s)</span>
            </label>
            <small class="text-[11px] text-neutral-500">*If multiple, separate with commas.</small>
            <div class="tooltip" data-tip="Terms of Service URL">
                <input type="text" name="tosUrls" placeholder="https://site.com/tos" class="w-full max-w-md input input-bordered" />
            </div>
        </div>

        <div class="w-full max-w-md form-control">
            <label for="name" class="label">
                <span class="font-bold label-text text-md">Tor Onion(s)</span>
            </label>
            <small class="text-[11px] text-neutral-500">*If none, leave blank. If multiple, separate with commas.</small>
            <input type="text" name="torOnions" placeholder="http://site.onion" class="w-full max-w-md input input-bordered" />
        </div>

        <div class="flex flex-col">
            <label for="description" class="label">
                <span class="font-bold label-text text-md">Description</span>
            </label>
            <textarea name="description" id="description" class="w-full max-w-md textarea textarea-bordered" placeholder="Description" maxlength="200"></textarea>
        </div>

        <div class="w-full max-w-md form-control">
            <label for="tags" class="label">
                <span class="font-bold label-text text-md">Search tags</span>
            </label>
            <small class="text-[11px] text-neutral-500">*Separate with commas.</small>
            <input required type="text" maxlength="55" name="tags" placeholder="p2p, private" class="w-full max-w-md input input-bordered" />
        </div>

        <!--Currencies selection-->
        <div>
            <h3 class="font-bold">Currencies</h3>
            {{ $currencies := slice "xmr" "btc" "ln" "cash" "fiat"}}
            <div class="flex flex-row form-control">
                {{ range $currencies }}
                    <label class="flex flex-col cursor-pointer label tooltip" data-tip="Accepts {{.}}">
                        <span class="uppercase label-text">{{.}}</span>
                        <input name="currencies[]" value="{{.}}" type="checkbox" class="checkbox checkbox-info checkbox-xs" />
                    </label>
                {{end}}
            </div>
        </div>
        <!--End currencies selection-->

        <!--KYC level selection-->
        <div class="max-w-md space-y-2 text-neutral-300">
            <h3 class="font-bold">KYC Level</h3>
            <div class="p-1 border border-gray-400 rounded-lg form-control">
                <label class="cursor-pointer label">
                  <span class="label-text"><b>Level 0</b> - The service does not require KYC. The Terms of Service (ToS) do not mention any KYC/AML procedures for any situation.</span> 
                  <input name="kycLevel" value="0" type="radio" name="radio-10" class="radio checked:bg-green-500" checked />
                </label>
            </div>
            <div class="p-1 border border-gray-400 rounded-lg form-control">
                <label class="cursor-pointer label">
                  <span class="label-text"><b>Level 1</b> - KYC is rarely requested on this platform. While the platform does not explicitly state its KYC/AML procedures, the service reserves the right to share acquired data with authorities, block funds, or reject transactions.</span> 
                  <input name="kycLevel" value="1" type="radio" name="radio-10" class="radio checked:bg-yellow-500" />
                </label>
            </div>
            <div class="p-1 border border-gray-400 rounded-lg form-control">
                <label class="cursor-pointer label">
                  <span class="label-text"><b>Level 2</b> - This service may occasionally request KYC. While it is not mandatory, the exchange reserves the right to require KYC from specific users at certain times, and it may block funds. This could occur if a transaction is flagged as suspicious or for any other reason.</span> 
                  <input name="kycLevel" value="2" type="radio" name="radio-10" class="radio checked:bg-orange-500" />
                </label>
            </div>
            <div class="p-1 border border-gray-400 rounded-lg form-control">
                <label class="cursor-pointer label">
                  <span class="label-text"><b>Level 3</b> -  KYC is mandatory for certain features on this platform. Non-KYC users can be asked to verify their identity at any time, for any reason and may have their service usage restricted or revoked.</span> 
                  <input name="kycLevel" value="3" type="radio" name="radio-10" class="radio checked:bg-red-500" />
                </label>
            </div>
        </div>
        <!--End KYC level selection-->

        <!--Points selection-->
        <div class="py-4">
            <h3 class="font-bold">Service Points</h3>
            <div class="form-control max-h-[180px] overflow-auto max-w-md">
                {{range .Points}}
                    <label class="space-x-2 cursor-pointer label justify-normal">
                        <input name="points[]" value="{{.ID}}" type="checkbox" class="checkbox checkbox-info checkbox-sm"/>
                        <span class="break-words label-text capitalize-first">{{.Title}}</span> 
                    </label>
                {{end}}
            </div>
        </div>
        <!--End points selection-->
        <div id="mcaptcha__widget-container"></div>
        <button type="submit" class="max-w-md btn btn-block btn-info">Send request</button>
    </form>
</div>
{{end}}

{{define "outterBody"}}
<script>
    document.querySelector('[name="serviceType"]').addEventListener('change', function(e) {
      const categoryElem = document.getElementById('category');
      if (e.target.value === 'service') {
        categoryElem.style.display = '';
      } else {
        categoryElem.style.display = 'none';
      }
    });
</script>
<script src="/static/js/mcaptcha.js"></script>
<script charset="utf-8">
  let config = {
    widgetLink: new URL(
        "https://mcap.kycnot.me/widget/?sitekey=NNPPyqPltZNTpAvt3DEj0uZccEkmMqEC"
    ),
  };
  new mcaptchaGlue.default(config);
</script>
{{end}}