{{define "title"}}Request{{end}}

{{define "main"}}
<div class="flex flex-col items-center pb-12">
    <h1 class="w-full max-w-xl py-2 text-3xl font-bold text-center">
        New point request
    </h1>
    <h2 class="w-full max-w-xl mb-8 text-center text-md">
        A point is anything that can be attributed to a service, you can see it as a property or a feature of a service.
    </h2>

    <form class="space-y-2 w-xl" method="POST" action="/request/point">
        <div class="w-full max-w-md form-control">
            <label for="type" class="label">
                <span class="label-text">Point Rating</span>
            </label>
            <select name="pointRating" name="type" required class="w-full max-w-md border select border-neutral-700">
                <option disabled class="font-bold text-gray-400">Select Type</option>
                <option value="good" class="font-bold text-success">Good</option>
                <option value="neutral" class="font-bold text-gray-300">Neutral</option>
                <option value="warning" class="font-bold text-warning">Warning</option>
                <option value="bad" selected class="font-bold text-error">Bad</option>
            </select>
        </div>

        <div class="w-full max-w-md form-control">
            <label for="name" class="label">
                <span class="label-text">Point Title</span>
            </label>
            <input id="pointTitle" required type="text" name="pointTitle" placeholder="Custodial Wallet" class="w-full max-w-md input input-bordered" />
        </div>

        <div class="flex flex-col">
            <label for="description" class="label">
                <span class="label-text">Point Description</span>
            </label>
            <textarea name="description" id="description" class="w-full max-w-md textarea textarea-bordered" placeholder="The wallet for this service is custodial..." maxlength="1500"></textarea>
        </div>

        <div id="mcaptcha__widget-container"></div>
        <button type="submit" class="max-w-md btn btn-block btn-info">Send request</button>
    </form>
</div>
{{end}}

{{define "outterBody"}}
<script>
    document.querySelector('[name="serviceType"]').addEventListener('change', function(e) {
      const categoryElem = document.getElementById('category');
      if (e.target.value === 'service') {
        categoryElem.style.display = '';
      } else {
        categoryElem.style.display = 'none';
      }
    });
</script>
<script src="/static/js/mcaptcha.js"></script>
<script charset="utf-8">
  let config = {
    widgetLink: new URL(
        "https://mcap.kycnot.me/widget/?sitekey=NNPPyqPltZNTpAvt3DEj0uZccEkmMqEC"
    ),
  };
  new mcaptchaGlue.default(config);
</script>
{{end}}